@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

svg, img {
  height: auto;
}

button * {
  pointer-events: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

input:disabled, select:disabled, textarea:disabled, button:disabled {
  cursor: default;
  opacity: .7;
  pointer-events: none;
}

.container{
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}